.open-sans-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

* {
    padding: 0;
    margin: 0;
}

.secendary-bg {
    background-color: #FFF8F3;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background: #FD6E0A;
}

.btn-primary:hover {
    color: #FD6E0A;
    background: black;
}

.section-title {
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    text-align: center;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin: 15px;
    text-align: center;
}


/* header start */

.header {
    width: 100%;
    background: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* nav style */

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 150px;
}

.header nav h1 {
    color: black;
    font-weight: bold;
    font-size: 40px;
}

.header nav h1 span {
    color: #FD6E0A;
}

.header nav ul {
    display: flex;
    align-items: center;
}

.header nav ul li {
    text-align: right;
    list-style: none;
    margin-right: 50px;
}

.header nav li a {
    text-decoration: none;
    font-size: 20px;
}

.header nav ul li a .btn-primary {
    background: #FD6E0A;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    margin-left: 50px;
    border-radius: 5px;
    transition: 1s ease-in;
}

.header .btn-primary:hover,
.header .btn-primary:focus {
    color: #FD6E0A;
    background: transparent;
    border: 1px solid #FD6E0A;
}


/* nav style */


/* banner start */

.banner {
    width: 100%;
    padding: 40px 0px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.banner .container {
    padding: 0;
}

.banner .row {
    display: flex;
}

.inner-banner {
    margin-top: 100px;
}

.inner-banner h4 {
    font-size: 28px;
    color: #474747;
    font-weight: 500;
    height: 1.5em;
}

.inner-banner h1 {
    font-size: 60px;
    color: #181818;
    font-weight: 800;
    height: 1.6em;
}

.inner-banner p {
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    height: 1.7em;
}

.inner-banner .btn {
    display: flex;
    margin-top: 30px;
}

.inner-banner .btn .btn-primary {
    background: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 1s ease-in;
}

.inner-banner .btn-primary:hover,
.inner-banner .btn-primary:focus {
    color: #FD6E0A;
    background: transparent;
    border: 1px solid #FD6E0A;
}

.inner-banner .btn .btn-info {
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #FD6E0A;
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 28px;
    transition: 1s ease-in;
}

.inner-banner .btn-info:hover,
.inner-banner .btn-info:focus {
    color: white;
    background: #FD6E0A;
    border: 1px solid #FD6E0A;
}

.banner img {
    width: 72%;
    margin-left: 163px;
}


/* banner end */


/* header end */


/* main start */

main {
    max-width: 1140px;
    margin: 0 auto;
}


/* about start */

.about {
    border-radius: 10px;
    padding: 170px 200px;
    text-align: center;
    margin-top: 130px;
}

.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about .item-describtion {
    font-weight: 600;
}


/* about end */


/* skills start */

.skills {
    border-radius: 10px;
    padding: 0px 150px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.skill {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    color: #181818;
}

.skill-description {
    font-size: 18px;
    color: #757575;
    line-height: 1.4em;
}


/* skills end */


/* resume start */

.resume {
    margin: 120px 0px 80px 130px;
    padding: 0;
}

.resume .section-title {
    margin-bottom: 100px;
}

.resume-container {
    display: flex;
    gap: 20px;
}

.resume-column-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}

.experence-title {
    font-size: 25px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

.experence-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 10px;
}

.experence-description {
    font-size: 16px;
    color: #757575;
}

hr {
    margin: 25px 0px;
}

.btn-resume {
    text-align: center;
}

.resume .btn-resume .btn-primary {
    background: #FD6E0A;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    transition: 1s ease-in;
}

.resume .btn-primary:hover,
.resume .btn-primary:focus {
    color: #FD6E0A;
    background: transparent;
    border: 1px solid #FD6E0A;
}


/* resume end */


/* main start */


/* footer stert */

.footer {
    padding: 100px 230px;
    display: flex;
    gap: 80px;
}

.footer-column {
    width: 50%;
}

.footer input[type="text"],
.footer input[type="email"],
.footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.footer .btn-primary {
    background: #FD6E0A;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    transition: 1s ease-in;
}

.footer .section-title {
    text-align: left;
    margin-bottom: 15px;
}

.footer p {
    color: #474747;
    font-size: 16;
    margin-bottom: 10px;
}

.footer .btn-primary:hover,
.footer .btn-primary:focus {
    color: #FD6E0A;
    background: transparent;
    border: 1px solid #FD6E0A;
}


/* footer end */